*{margin:0;
padding: 0;
}
ul{list-style: none;}
.manue li{
    background-color: red;
    border: 1px solid white;
    width: 120px;
    height: 35px;
    line-height: 35px;
    text-transform: capitalize;
    text-align: center;
    float: left;
}
.manue li a{
    text-decoration: none;
    color: white;
    display: block;
}